  <% if type == :new %>
    <% action_url = users_url %>
    <% button_text = "Create User" %>
  <% elsif type == :edit %>
    <% action_url = user_url(user) %>
    <% button_text = "Update User" %>
  <% end %>

  <a href="<%= users_url %>">User's Index</a>

  <form action="<%= action_url %>" method="post">
    <% if type == :edit %>
      <input type="hidden" name="_method" value="PATCH" />
    <% end %>
    
    <label for="username">Username:
      <input id="username" type="text" name="user[username]" value="<%= user.username %>" />
    </label>
    <% if type == :new %>
    <br>
    <label for="password">Password:
      <input id="password" type="password" name="user[password]" value="<%= @user.password %>">
    </label>
    <% end %>
    <br>
    <label for="age">Age:
      <input id="age" type="text" name="user[age]" value="<%= user.age %>" />
    </label>
    <br>
    <label for="email">Email:
      <input id="email" type="text" name="user[email]" value="<%= user.email %>" />
    </label>
    <br>
    <input type="submit" value="<%= button_text %>" />
  </form>